@import 'assets/fonts/fonts.css';

:root {
  --hover-general: all 400ms ease;
  --dark-color: #262626;
  --white-color: #ffffff;
  --accent-color: #f6b83d;
  --accent-light: #fff4df;
  --title-accent: rgba(255, 255, 255, 0.4);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}