@import "assets/fonts/fonts.css";

:root {
  --hover-general: all 400ms ease;
  --bg-main: #f9f9f9;
  --dark-color: #262626;
  --dark-light: #2b2b2a;
  --white-color: #ffffff;
  --accent-color: #f6b83d;
  --hover-color: #fbe7c1;
  --accent-light: #fff4df;
  --title-accent: rgba(255, 255, 255, 0.4);
  --white-light: rgba(255, 255, 255, 0.15);
  --link-gray: rgba(38, 38, 38, 0.15);
  --error-color: #ef2447;
  --placeholder-color: rgba(38, 38, 38, 0.5);
  --text-input: rgba(38, 38, 38, 0.8);
  --success-color: #08aa83;
  --bright-orange: #f9b020;
  --bg-button: rgba(38, 38, 38, 0.05);
  --subtitle-color: rgba(43, 43, 42, 0.4);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--bg-main);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.css-1ysyrvn-MuiButtonBase-root-MuiPaginationItem-root {
  font-family: "Manrope", sans-serif !important;
  font-size: 14px !important;
}

.css-wjh20t-MuiPagination-ul li {
  max-width: 40px !important;
  padding: 0px !important;

  @media screen and (min-width: 375px) {
    margin: 2px !important;
  }
}

.css-bf9wz-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected,
.css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected,
.css-1ysyrvn-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
  color: var(--white-color) !important;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-tj5bde-Svg {
  stroke: var(--dark-color) !important;
  fill: var(--dark-color) !important;
}

.css-1jqq78o-placeholder {
  color: var(--dark-color) !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  width: 144px;
  border: 1px solid var(--link-gray);
  border-radius: 30px !important;
  font-weight: 500!important;
  font-size: 14px!important;
  line-height: 1.29!important;
  letter-spacing: -0.03em!important;
  font-family: "Manrope", sans-serif!important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:hover {
  unicode-bidi: unset;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:focus-visible {
  outline: none;
}

.MuiInputBase-root.Mui-focused,
.MuiOutlinedInput-root.Mui-focused {
  border: 1px solid var(--accent-color);
}

.MuiInputBase-root.Mui-focused:focus-visible,
.MuiOutlinedInput-root.Mui-focused:focus-visible {
  outline: none;
}
